#include "\masm32\INCLUDE\Resource.h"

199     ICON   resources\ICON.ico

/*Unique name or a 16-bit unsigned integer value identifying the resource.*/
100     BITMAP resources\Floor.bmp
101     BITMAP resources\Wall.bmp
102     BITMAP resources\Box.bmp
103     BITMAP resources\Spike.bmp
105     BITMAP resources\Stair.bmp
106     BITMAP resources\SpikeBox.bmp
107     BITMAP resources\Key.bmp
108     BITMAP resources\Door.bmp

151     BITMAP resources\slime_idle_spritesheet.bmp
152     BITMAP resources\slime_idle_spritesheet_mask.bmp
153     BITMAP resources\knight_idle_spritesheet.bmp
154     BITMAP resources\knight_idle_spritesheet_mask.bmp

/*
Unique 16-bit unsigned integer value identifying the resource.
5 FONT  "cmroman.fnt"
*/