#include "\masm32\INCLUDE\Resource.h"

/*Unique name or a 16-bit unsigned integer value identifying the resource.*/
bmpBox BITMAP resources\Box.bmp
bmpChar BITMAP resources\Character.bmp

/*
Unique 16-bit unsigned integer value identifying the resource.
5 FONT  "cmroman.fnt"
*/